<h3>Events</h2>
<p>Total Count: <%= @events.count %></p>

<table>
  <tr>
    <th>S.No</th>
    <th>Type</th>
    <th>UserID</th>
    <th>CreatedAt</th>
  </tr>
  <% @events.each_with_index do |event, index| %>
    <tr>
    <td><%= index+1 %></td>
    <td><%= event.type %></td>
    <td><%= event.user_id %></td>
    <td><%= event.created_at %></td>
  </tr>
  <% end %>

</table>
